stages:
    - build
    - quality
    - deploy

default:
  image: maven:3.8.6-openjdk-18

cache:
    paths:
        - .m2/repository

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"

build-backend:
  stage: build
  script:
    - mvn clean compile

test-backend:
  stage : quality
  script:
    - mvn test

package-backend:
  stage: deploy
  script :
    - mvn package
  artifacts:
    paths:
    - target/starter-1.0.0-SNAPSHOT-fat.jar